

#bannerContainer {
    height: 75em;
    width: 100%;
    border-width: 0px;
    outline-width: 0px;
    background-attachment: scroll;
    background-image: url('/Content/Images/StyledShoot/styled33.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*-webkit-background-clip:border-box;*/
}

#bannerText {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 60%;
    width: 80%;
    z-index: 2;
    text-align: center;
    color: #7589b9;
    font-family: 'Century Schoolbook', 'Droid Serif', serif;
    font-size: 6em;
    font-style: italic;
    /*text-shadow: 2px 2px 12px #000000;*/
    margin-top: 7em;
    padding-bottom: .2em;
    text-wrap: normal;
    background-color: rgba(255, 255, 255, 0.70);
}

#jumb1 {
    /*padding:10em;*/
    background-image: url('/Content/Images/ClipArt/Flowers3026.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px white ridge;
}

#jh2 {
    color: #f8aeae;
    text-shadow: 1px 1px 1px black;
    font-family: 'Century Schoolbook';
    font-weight: 300;
    font-size: 5em;
    margin-top: -12px;
}

#jButton {
    text-decoration: none;
}

    #jButton:hover {
        text-decoration: none;
        text-shadow: 1px 1px 1px #ffd800;
    }

#tripanel {
}

#triImg {
    width: 100%;
}


h3:visited {
    text-decoration: none;
    color: lightseagreen;
}

.picLinks:visited {
    text-decoration: none;
    text-decoration-color: none;
    color: none;
}

.picLinks:hover {
    text-decoration: none;
    color: lightseagreen;
}

.picLinks {
    color: #768ab9;
}

.hover-shadow:hover {
    box-shadow: #f8aeae 0px 0px 2px 1px;
}

#ofyour {
    font-size: 1em;
}

#visionText {
    line-height: 1.3em;
    font-family: 'Kaushan Script', cursive;
}

#instaIcon {
    padding-left: 0.5em;
}

.author {
    font-family: 'droid serif', serif;
    font-size: 22px;
}

video {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: auto;
    margin-bottom: 0 !important;
}



/*  MOBILE STYLES    */


/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media screen and (max-device-width: 1024px) {
    #banner {
        /*  background-attachment: scroll;  Try this for now     */
        height: 50em;
    }

    #bannerContainer {
        background-image: url('/Content/Images/Mobile/styled33.jpg');
    }

    #bannerText {
        font-size: 4em;
    }

    #jh2 {
        font-size: 3em;
    }

    #visionText {
        font-size: 1.5em;
    }


    video {
        width: 100%;
    }
}    
